:root {
    --podeweb-color-scheme: dark;
    --podeweb-font-family: 'Helvetica', 'Arial', sans-serif;

    --podeweb-page-background-color: #0f1a0d;
    --podeweb-primary-background-color: #0f1a0d;
    --podeweb-secondary-background-color: #1b2e1a;
    --podeweb-tertiary-background-color: #1f3a1e;
    --podeweb-nav-background-color: #2c4f2e;
    --podeweb-hero-background-color: #1e3920;
    --podeweb-toast-primary-background-color: #1b2e1a;
    --podeweb-toast-secondary-background-color: #334d33;

    --podeweb-primary-border-color: #3f5e3f;
    --podeweb-secondary-border-color: yellowgreen;
    --podeweb-tertiary-border-color: #3f5e3f;
    --podeweb-nav-border-color: #3f5e3f;
    --podeweb-toast-border-color: #668066;

    --podeweb-primary-text-color: #c2d6c2;
    --podeweb-secondary-text-color: #c2d6c2;
    --podeweb-tertiary-text-color: #e0eae0;
    --podeweb-link-text-color: yellowgreen;
    --podeweb-hover-primary-text-color: yellowgreen;
    --podeweb-hover-secondary-text-color: #e4e2de;
    --podeweb-toast-primary-text-color: #c8c3bc;
    --podeweb-toast-secondary-text-color: #e0eae0;
    --podeweb-disabled-text-color: #a8a095;
    --podeweb-enabled-text-color: #0f1a0d;
    --podeweb-nav-text-color: #e8e6e3;
    --podeweb-nav-hover-text-color: yellowgreen;

    --podeweb-input-calendar-indicator-color: invert(0%);
    --podeweb-input-calendar-indicator-hover-color: invert(100%) sepia() brightness(30%) saturate(10000%) hue-rotate(120deg);

    --podeweb-code-editor-theme: dark;
    --podeweb-code-theme: dark;

    --podeweb-chart-point-color: #4A90E2, #50E3C2, #E94E77, #F8E71C, #F5A623, #BD10E0, #4A90E2, #FF3366, #B8E986, #4A9C8A, #7B61FF, #FF6F61, #98FB98, #DDA0DD, #FFDAB9;
    --podeweb-chart-grid-color: #3f5e3f;
    --podeweb-chart-tick-color: #c2d6c2;
    --podeweb-chart-border-color: #3f5e3f;

    --podeweb-inbuilt-primary-theme-color: var(--podeweb-base-success-color);
    --podeweb-inbuilt-primary-theme-text-color: var(--podeweb-base-success-text-color);
    --podeweb-inbuilt-primary-theme-hover-color: var(--podeweb-base-success-hover-color);
    --podeweb-inbuilt-primary-theme-shadow-color: var(--podeweb-base-success-shadow-color);

    --podeweb-inbuilt-secondary-theme-color: var(--podeweb-base-success-color);
    --podeweb-inbuilt-secondary-theme-text-color: var(--podeweb-base-success-text-color);
    --podeweb-inbuilt-secondary-theme-hover-color: var(--podeweb-base-success-hover-color);
    --podeweb-inbuilt-secondary-theme-shadow-color: var(--podeweb-base-success-shadow-color);
}