html,
body {
    height: 100%;
}

body#login-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

body#normal-page {
    font-size: .875rem !important;
    background-color: #f5f5f5;
}

button#menu-toggle {
    margin-left: 0;
    width: 50px;
}

button#menu-toggle .feather {
    width: 25px;
    height: 25px;
}

.footer.powered-by {
    background-color: #f5f5f5;
    border: #bbb 1px solid;
    border-radius: 0.25rem;
    margin-left: 5%;
    text-align: center;
    width: 90%;
    display: block;
    margin-bottom: 0.5rem;
}

.pode-container {
    background-color: #f5f5f5;
    color: #333;
    border: #bbb 1px solid;
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-bottom: 2em;
}

.carousel {
    min-height: 10em;
    background-color: #f5f5f5;
    color: #333;
    border: #bbb 1px solid;
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-bottom: 2em;
}

.carousel .carousel-caption {
    color: #333;
}

.carousel .carousel-indicators li {
    background-color: #333;
}

.carousel .carousel-arrow:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

.carousel .carousel-item {
    max-height: 30em;
    height: 100%;
}

div[role="chart"] div[role="controls"] {
    float: left;
    margin-bottom: -3px;
    margin-top: -4px;
}

main[role="main"].fullscreen {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100.0% !important;
    margin-left: 0 !important;
}

nav[role="pagination"] {
    float: right;
}

div#pode-social .feather {
    height: 22px;
    width: 22px;
    margin-right: 0.3rem;
}

div#pode-social a {
    color: #bbb;
}

div#pode-social a:hover {
    color: #007bff;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.code-editor {
    height: 50em;
}

.jumbotron {
    border: #bbb 1px solid;
}

.modal-body {
    word-break: break-word;
}

.modal-dialog.pode-modal-small {
    max-width: 600px;
}
.modal-dialog.pode-modal-medium {
    max-width: 800px;
}
.modal-dialog.pode-modal-large {
    max-width: 1000px;
}

.media {
    border-color: #bbb;
    background-color: #f5f5f5;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.media img {
    width: 64px;
    height: 64px;
    border-radius: 0.4rem;
    border: #bbb 2px solid;
}

.media .media-head {
    border-bottom: #bbb 1px dashed;
}

.media .media-head small {
    float: right;
    font-size: 60%;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
}

.media .media-body p {
    margin-top: 0.5rem;
}

.btn-icon-only {
    color: #f5f5f5;
    margin-left: -1em;
}

.ui-autocomplete {
    border-color: #bbb;
    background-color: #f0f0f0;
    border-width: 2px;
    margin-top: -1px;
    border-radius: 5px;
    color: #333;
}

table .btn-icon-only {
    color: #777;
}

pre.code-block {
    margin-top: -3em;
    margin-bottom: 0em;
    position: relative;
}

pre code {
    background-color: #f0f0f0;
    border-color: #bbb;
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    display: block;
    padding: 0.5em;
}

.pode-code-copy {
    color: #333;
    position: absolute;
    display: flex;
    top: 3.6rem;
    right: 0.5em;
}

.btn-icon-only,
.btn-icon-only:active,
.btn-icon-only:focus {
    outline: 0 !important;
    outline-style: none !important;
    outline-width: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

div#pode-social {
    margin-right: auto;
    margin-left: 1em;
}

div#pode-page-title {
    margin-top: 4em;
}

li.nav-group-title {
    border-top: 1px dashed #888;
    padding-top: 1em;
}

li.nav-group-title span.badge {
    float: right;
    margin-right: 1em;
    padding: 5px;
}

ul#sidebar-list div.collapse,
ul#sidebar-list div.collapsing {
    margin-left: 1em;
}

div.pode-grid {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

input[type="range"].pode-range-value {
    display: inline;
    width: 87% !important;
}

input[type="number"].pode-range-value {
    display: inline;
    width: 6% !important;
}

input[type=date]::-webkit-calendar-picker-indicator:hover,
input[type=time]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.sidebar-sticky {
    margin-bottom: -8.5em !important;
    height: calc(100vh - 7em) !important;
}

.sidebar-sticky ul {
    margin-bottom: 7em !important;
}

.footer {
    z-index: 9999;
    bottom: 0;
    position: absolute;
}

table {
    font-size: .9rem;
}

table[pode-sort='True'] thead th {
    cursor: pointer;
}

table.pode-table-click tbody tr {
    cursor: pointer;
}

table tbody td {
    word-break: break-word;
}

.card {
    margin-bottom: 2em;
    border-color: #bbb;
}

.toast {
    width: 25em;
}

#toast-area {
    position: fixed;
    top: 5em;
    right: 1em;
    z-index: 9999;
}

.welcome-msg {
    font-size: 1.2em;
}

.welcome-msg img {
    width: 35px;
    height: 35px;
    margin-right: 0.3rem;
    border-radius: 5em;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 3px;
    border-color: #bbb;
}

.navbar-brand {
    font-size: 1.5em !important;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.form-control.is-invalid {
    border-color: #dc3545 !important;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.pode-form-checkbox .col-form-label {
    margin-top: -5px;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .form-label-group label {
        position: static;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -1px;
}

h2 .feather, .h2 .feather {
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

h6 .feather, .h6 .feather {
    width: 18px;
    height: 18px;
    margin-top: -2px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    padding: 0;
}

.sidebar .nav-link div {
    padding: 0.5rem 1rem;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.nav-item.nav-page-item a.nav-link:hover > div {
    width: fit-content !important;
    background-color: rgba(29, 161, 242, 0.1) !important;
    padding-right: 2em !important;
    border-top-right-radius: 5em !important;
    border-bottom-right-radius: 5em !important;
}

.nav-item.nav-group-title a.nav-link:hover {
    background-color: rgba(29, 161, 242, 0.1) !important;
    border-top-right-radius: 5em !important;
    border-bottom-right-radius: 5em !important;
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}
  
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * General
 */

.w90 {
    width: 90%;
}

.mLeft02 {
    margin-left: 0.2em;
}

.mLeft05 {
    margin-left: 0.5em;
}

.mLeft1 {
    margin-left: 1em;
}

.mRight05 {
    margin-right: 0.5em;
}

.mRight02 {
    margin-right: 0.2em;
}

.mRight1 {
    margin-right: 1em;
}

.mTop-05 {
    margin-top: -0.5em;
}

.mTop05 {
    margin-top: 0.5em;
}

.mTop1 {
    margin-top: 1em;
}

.mTop1-8 {
    margin-top: 1.8em;
}

.mBottom1 {
    margin-bottom: 1em;
}

.mBottom-06 {
    margin-bottom: -0.6em;
}