nav#sidebarMenu {
    background-color: #f8f9fa !important;
    border-color: #bbb !important;
}

.sidebar .nav-link {
    color: #333 !important;
}

.welcome-msg {
    color: rgba(255,255,255,.5) !important;
}

.welcome-msg img {
    border-color: #bbb;
}

.media {
    border-color: #bbb;
    background-color: #f5f5f5;
}

.media img {
    border-color: #bbb;
}

.media .media-head {
    border-bottom-color: #bbb;
}

body, main[role="main"], body#login-page, body#normal-page {
    background-color: #f5f5f5;
    color: #333;
}

.btn-icon-only {
    color: #f5f5f5 !important;
}

.card {
    border-color: #bbb !important;
}

.accordion .card .card-header button {
    color: #333;
}

.accordion .card .card-header button.collapsed {
    color: #999;
}

.accordion .card .card-header:hover {
    background-color: #eee !important;
    color: #333 !important;
}
.accordion .card .card-header button:hover {
    color: #333 !important;
}

pre code {
    background-color: #f0f0f0 !important;
    border-color: #bbb !important;
}

.ui-autocomplete {
    border-color: #bbb !important;
    background-color: #f0f0f0 !important;
    color: #333 !important;
}

.jumbotron {
    border-color: #bbb;
}

.footer.powered-by {
    background-color: #f5f5f5;
    border-color: #bbb;
}

.pode-container:not([pode-transparent='True']) {
    background-color: #ffffff;
    border-color: #bbb;
}

.pode-container {
    color: #333;
}

.carousel {
    background-color: #f5f5f5;
    border-color: #bbb;
    color: #333;
}

.carousel .carousel-caption {
    color: #333;
}

.carousel .carousel-indicators li {
    background-color: #333;
}

.step.active .bs-stepper-circle {
    background-color: dodgerblue;
}

iframe {
    border-color: #bbb;
}