:root {
    --podeweb-base-primary-color: #007bff;
    --podeweb-base-primary-text-color: #fff;
    --podeweb-base-primary-hover-color: #0069d9;
    --podeweb-base-primary-shadow-color: rgba(38, 143, 255, .5);

    --podeweb-base-secondary-color: #6c757d;
    --podeweb-base-secondary-text-color: #fff;
    --podeweb-base-secondary-hover-color: #5a6268;
    --podeweb-base-secondary-shadow-color: rgba(130, 138, 145, .5);

    --podeweb-base-success-color: #28a745;
    --podeweb-base-success-text-color: #fff;
    --podeweb-base-success-hover-color: #218838;
    --podeweb-base-success-shadow-color: rgba(72, 180, 97, .5);

    --podeweb-base-info-color: #17a2b8;
    --podeweb-base-info-text-color: #fff;
    --podeweb-base-info-hover-color: #138496;
    --podeweb-base-info-shadow-color: rgba(58, 176, 195, .5);

    --podeweb-base-warning-color: #ffc107;
    --podeweb-base-warning-text-color: #212529;
    --podeweb-base-warning-hover-color: #e0a800;
    --podeweb-base-warning-shadow-color: rgba(222, 170, 12, .5);

    --podeweb-base-danger-color: #dc3545;
    --podeweb-base-danger-text-color: #fff;
    --podeweb-base-danger-hover-color: #c82333;
    --podeweb-base-danger-shadow-color: rgba(225, 83, 97, .5);

    --podeweb-base-light-color: #f8f9fa;
    --podeweb-base-light-text-color: #212529;
    --podeweb-base-light-hover-color: #e2e6ea;
    --podeweb-base-light-shadow-color: rgba(216, 217, 219, .5);

    --podeweb-base-dark-color: #343a40;
    --podeweb-base-dark-text-color: #fff;
    --podeweb-base-dark-hover-color: #23272b;
    --podeweb-base-dark-shadow-color: rgba(82, 88, 93, .5);

    --podeweb-inbuilt-primary-theme-color: var(--podeweb-base-primary-color);
    --podeweb-inbuilt-primary-theme-text-color: var(--podeweb-base-primary-text-color);
    --podeweb-inbuilt-primary-theme-hover-color: var(--podeweb-base-primary-hover-color);
    --podeweb-inbuilt-primary-theme-shadow-color: var(--podeweb-base-primary-shadow-color);

    --podeweb-inbuilt-secondary-theme-color: var(--podeweb-base-secondary-color);
    --podeweb-inbuilt-secondary-theme-text-color: var(--podeweb-base-secondary-text-color);
    --podeweb-inbuilt-secondary-theme-hover-color: var(--podeweb-base-secondary-hover-color);
    --podeweb-inbuilt-secondary-theme-shadow-color: var(--podeweb-base-secondary-shadow-color);
}

html,
body {
    height: 100%;
}

body#login-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

body#normal-page {
    font-size: .875rem !important;
}

button#menu-toggle {
    margin-left: 0;
    width: 50px;
}

ruby rt {
    font-size: 53%;
    font-style: normal;
}

.footer.powered-by {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    margin-left: 5%;
    text-align: center;
    width: 90%;
    display: block;
    margin-bottom: 0.5rem;
}

.pode-container:not([pode-transparent='true']) {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
}

.pode-container {
    padding: 1.25rem;
    margin-bottom: 2em;
    max-width: 100%;
}

.pode-tile {
    max-width: 14rem;
    position: relative;
    padding: .75rem 0.6rem;
    margin: 0;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: medium;
    display: inline-block;
}

.pode-tile[pode-click="true"]:hover {
    opacity: 0.91;
    cursor: pointer;
}

.pode-tile .pode-tile-refresh {
    float: right;
    cursor: pointer;
}

.pode-tile .pode-tile-header {
    font-weight: bolder;
    font-size: 1.1rem;
    line-height: 1.2;
}

.pode-tile hr {
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    border-width: 0.15rem;
}

.pode-tile .pode-tile-body {
    font-weight: 500;
    font-size: 0.9rem;
}

.btn-primary hr,
.btn-danger hr,
.btn-success hr,
.btn-dark hr,
.btn-info hr {
    border-color: #ddd;
}

.btn-warning hr,
.btn-light hr {
    border-color: #444;
}

[pode-hidden='true'] {
    display: none !important;
}

.carousel {
    min-height: 10em;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin-bottom: 2em;
}

.carousel .carousel-arrow:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

.carousel .carousel-item {
    max-height: 30em;
    height: 100%;
}

.carousel .carousel-item div {
    align-items: center;
}

.bs-stepper {
    margin-bottom: 20px;
}

div[role="chart"] div[role="controls"] {
    float: left;
    margin-bottom: -3px;
    margin-top: -4px;
}

main[role="main"].fullscreen {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100.0% !important;
    margin-left: 0 !important;
}

nav[role="pagination"] {
    float: right;
    display: inline-flex;
}

nav[role="pagination"] input.page-size {
    width: 4.5em;
    font-size: 1em;
    margin-right: 1em;
    display: flex;
    height: 2.46rem;
}

.breadcrumb {
    background-color: transparent;
}

div#pode-nav-social a,
div#pode-nav-items a.nav-link:not(.disabled) {
    color: #bbb;
}

div#pode-nav-social a:hover,
div#pode-nav-items a.nav-link:hover {
    color: #007bff;
    text-decoration: none;
}

li.nav-item {
    margin-right: 0.4rem;
}

ul.dropdown-menu {
    border-radius: 0.3rem;
    border: 0.1rem solid #ccc;
}

hr.dropdown-divider {
    border-color: #ccc;
}

span.link-divider {
    font-size: 1.3rem;
    margin-left: 0.2rem;
    margin-right: 0.4rem;
    margin-top: 0.09em;
}

a.pode-nav-link {
    cursor: pointer;
}

a.nav-link[pode-dynamic='true'] {
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 10px;
    top: 44% !important;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -40px;
    left: 100% !important;
}

@media (max-width: 992px) {
    .dropdown-menu {
        width: 50%;
    }

    .dropdown-menu .dropdown-submenu {
        width: auto;
    }
}

.dropdown[pode-hover='True']:hover>.dropdown-menu {
    display: block;
}

.dropdown[pode-hover='True']>.dropdown-toggle:active {
    pointer-events: none;
}

.hide {
    display: none !important;
}

.code-editor {
    height: 50em;
}

.jumbotron {
    border-width: 1px;
    border-style: solid;
}

.modal-content {
    border-radius: 0.7em;
}

.modal-header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.modal-footer {
    border-top-width: 2px;
    border-top-style: solid;
}

.modal-body {
    word-break: break-word;
}

.modal-header button.btn-close {
    outline: none;
    text-shadow: none;
}

.modal-dialog.pode-modal-small {
    max-width: 600px;
}

.modal-dialog.pode-modal-medium {
    max-width: 800px;
}

.modal-dialog.pode-modal-large {
    max-width: 1000px;
}

.media {
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.media img {
    width: 64px;
    height: 64px;
    border-radius: 0.4rem;
    border-width: 2px;
    border-style: solid;
}

.media .media-head {
    border-width: 1px;
    border-bottom-style: dashed;
}

.media .media-head small {
    float: right;
    font-size: 60%;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
}

.media .media-body p {
    margin-top: 0.5rem;
}

.pode-action-btn {
    border-width: 1px;
}

.btn-icon-only {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.ui-autocomplete {
    border-width: 2px;
    margin-top: -1px;
    border-radius: 5px;
}

table .btn-icon-only {
    color: #777;
}

pre.code-block {
    margin-top: -3em;
    margin-bottom: 0em;
    position: relative;
}

pre code {
    border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    display: block;
    padding: 0.5em;
}

.pode-code-copy {
    color: #333;
    position: absolute;
    display: flex;
    top: 4rem;
    right: 0.5em;
}

.btn-icon-only,
.btn-icon-only:active,
.btn-icon-only:focus {
    outline: 0 !important;
    outline-style: none !important;
    outline-width: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

div#pode-nav-social {
    margin-left: 1em;
    display: inline-block;
}

div#pode-nav-items {
    margin-left: 1em;
    display: inline-block;
}

div#pode-nav {
    margin-right: auto;
    margin-left: 1em;
}

#pode-page-title.nav-padding {
    margin-top: 4em;
}

span.pode-page-help {
    cursor: pointer;
}

li.nav-group-title {
    border-top: 1px dashed #888;
    padding-top: 1em;
}

li.nav-group-title span.badge {
    float: right;
    margin-right: 1em;
    padding: 5px;
}

ul#sidebar-list div.collapse,
ul#sidebar-list div.collapsing {
    margin-left: 1em;
}

div.pode-grid {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

[pode-object="Cell"]>* {
    text-align: left;
}

input[type="range"].pode-range-value {
    display: inline;
    width: 87% !important;
}

input[type="number"].pode-range-value {
    display: inline;
    width: 6% !important;
}

input[type=date]::-webkit-calendar-picker-indicator:hover,
input[type=time]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover,
input[type=range]:hover,
div.form-switch label.form-check-label:hover,
div.form-check label.form-check-label:hover,
select.form-select:hover,
input[type=file]:hover {
    cursor: pointer;
}

input[type=date]:hover,
input[type=time]:hover,
input[type=datetime-local]:hover {
    cursor: text;
}

.input-group .input-group-text,
.input-group .input-group-text {
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out,
        background-color .15s ease-in-out,
        color .15s ease-in-out;
}

.pode-custom-file input[type=file]::-webkit-file-upload-button,
.pode-custom-file input[type=file]::file-selector-button {
    display: none;
}

.pode-custom-file input[type=file] {
    margin-left: -2px !important;
}

.sidebar-sticky {
    margin-bottom: -8.5em !important;
    height: calc(100vh - 7em) !important;
}

.sidebar-sticky ul {
    margin-bottom: 7em !important;
}

.footer {
    z-index: 9999;
    bottom: 0;
    position: absolute;
}

table {
    font-size: .9rem;
}

table[pode-sort='true'] thead th {
    cursor: pointer;
}

table[pode-sort='true'] thead th[sort-direction='asc']::after,
table[pode-sort='true'] thead th[sort-direction='desc']::after {
    content: ' ';
    position: relative;
    left: 10px;
    border: 7px solid transparent;
}

table[pode-sort='true'] thead th[sort-direction='asc']::after {
    bottom: 12px;
    border-bottom-color: silver;
}

table[pode-sort='true'] thead th[sort-direction='desc']::after {
    top: 15px;
    border-top-color: silver;
}

table.pode-table-click tbody tr {
    cursor: pointer;
}

table tbody td {
    word-break: break-word;
}

table tbody tr {
    vertical-align: middle;
}

table thead {
    height: 2.5rem;
    vertical-align: middle;
    font-weight: bolder;
    font-size: medium;
}

.pode-card {
    margin-bottom: 2em;
}

.pode-card .pode-card-collapse {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.accordion .accordion-header h2 {
    width: 100%;
}

.accordion .accordion-header .accordion-button::after {
    background-image: none !important;
}

.accordion .accordion-header .accordion-button span.arrow-toggle {
    float: right;
}

.accordion .accordion-header .accordion-button:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.accordion .accordion-header {
    transition: .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.toast {
    width: 25em;
}

#toast-area {
    position: fixed;
    top: 5em;
    right: 1em;
    z-index: 9999;
}

#pode-toast-container {
    z-index: 999999999;
}

.welcome-msg {
    font-size: 1.2em;
}

.welcome-msg #avatar {
    width: 35px;
    height: 35px;
    margin-right: 0.3rem;
    border-radius: 5em;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 3px;
}

.navbar-brand {
    font-size: 1.5em !important;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

a.navbar-brand img {
    border-radius: 0.2em;
}

.input-group {
    flex-wrap: nowrap !important;
    display: inline-flex !important;
}

.input-group>.form-control {
    flex: initial !important;
    width: 100%;
}

.form-group .pode-button,
.form-group .pode-link-button {
    margin-bottom: 1rem;
}

.form-group .form-group {
    margin-bottom: 0 !important;
}

.form-control.is-invalid {
    border-color: #dc3545 !important;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-signin button {
    width: 100%;
}

.form-signin .form-floating label {
    left: inherit;
}

.pode-form-checkbox .col-form-label {
    margin-top: -5px;
}

div.no-form {
    display: inline-block;
}

.no-form {
    width: auto;
}

.no-form.pode-form-checkbox {
    width: inherit;
}

.pode-form-button .pode-button:not(.btn-icon-only),
.pode-form-button .pode-link-button:not(.btn-icon-only) {
    margin: 0.5em;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    padding: 0;
}

.sidebar .nav-link div {
    padding: 0.5rem 1rem;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar.nav-padding {
    padding-top: 48px;
}

.nav-item.nav-page-item a.nav-link:hover {
    background-color: rgba(29, 161, 242, 0.1) !important;
    padding-right: 2em !important;
    border-top-right-radius: 5em !important;
    border-bottom-right-radius: 5em !important;
}

.nav-item.nav-group-title a.nav-link:hover {
    background-color: rgba(29, 161, 242, 0.1) !important;
    border-top-right-radius: 5em !important;
    border-bottom-right-radius: 5em !important;
}

/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

iframe {
    width: 100%;
    height: 45rem;
    border-radius: 0.3rem;
    border-width: 1px;
}

/*
 * General
 */

.w90 {
    width: 90%;
}

.mLeft02 {
    margin-left: 0.2em;
}

.mLeft05 {
    margin-left: 0.5em;
}

.mLeft1 {
    margin-left: 1em;
}

.mRight05 {
    margin-right: 0.5em;
}

.mRight04 {
    margin-right: 0.4em;
}

.mRight02 {
    margin-right: 0.2em;
}

.mRight1 {
    margin-right: 1em;
}

.mTop-05 {
    margin-top: -0.5em;
}

.mTop-02 {
    margin-top: -0.2em;
}

.mTop05 {
    margin-top: 0.5em;
}

.mTop1 {
    margin-top: 1em;
}

.mTop1-8 {
    margin-top: 1.8em;
}

.mBottom1 {
    margin-bottom: 1em;
}

.mBottom-06 {
    margin-bottom: -0.6em;
}

/*
 * Material Design Icons
 */
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

th .mdi::before {
    vertical-align: sub;
}

.h1.header .mdi::before {
    font-size: 2.5rem;
}

.h2.header .mdi::before {
    font-size: 2rem;
}

.h3.header .mdi::before {
    font-size: 1.75rem;
}

.h4.header .mdi::before {
    font-size: 1.5rem;
}

.h5.header .mdi::before {
    font-size: 1.25rem;
}

.h6.header .mdi::before {
    font-size: 1rem;
}

.pode-code-editor .pode-upload .mdi::before {
    margin-bottom: 0.3em;
}

.btn:not(.btn-icon-only, .btn-no-text, .btn-block) .mdi::before {
    position: relative;
    top: 4px;
}

.pode-card .card-header .pode-card-collapse .mdi::before {
    position: relative;
    top: 1px;
}

.card-header:has(+.card-body[style*="display: none;"]) {
    border-bottom-width: 0 !important;
    border-bottom-right-radius: var(--bs-card-inner-border-radius) !important;
    border-bottom-left-radius: var(--bs-card-inner-border-radius) !important;
}

.accordion-header:has(+.accordion-collapse.collapse:not(.show)) {
    border-bottom-width: 0 !important;
}

.card-body {
    border-bottom-right-radius: var(--bs-card-inner-border-radius) !important;
    border-bottom-left-radius: var(--bs-card-inner-border-radius) !important;
}

div.file-stream pre {
    white-space: normal;
    margin-bottom: 0;
}

div.file-stream pre textarea {
    border: none;
}

div.file-stream.stream-error {
    border-color: #f5c6cb !important;
}

div.file-stream.stream-error .card-header {
    color: #721c24;
    background-color: #f8d7da !important;
}

div.file-stream.stream-error .card-header span.stream-error.mdi {
    display: block !important;
}

div.file-stream.stream-error .card-header span.stream-error.mdi::before {
    position: relative;
    top: 0px;
}

div.file-stream .card-header h5 span.mdi::before {
    position: relative;
    top: 2px;
}

div.file-stream .card-header span.spinner-border {
    position: relative;
    top: 7px;
}

span.canvas-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

a.nav-link .mdi:before {
    position: relative;
    top: 3px;
}

#pode-page-title span.mdi.pode-page-title-icon:before {
    font-size: 35px;
    position: relative;
    top: 2px;
}

#pode-nav-social a .mdi::before {
    position: relative;
    top: 3px;
}

.modal-title .mdi::before {
    position: relative;
    top: 2px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.mdi-size-5::before {
    font-size: 5px;
}

.mdi-size-10::before {
    font-size: 10px;
}

.mdi-size-15::before {
    font-size: 15px;
}

.mdi-size-20::before {
    font-size: 20px;
}

.mdi-size-22::before {
    font-size: 22px;
}

.mdi-size-25::before {
    font-size: 25px;
}

.mdi-size-30::before {
    font-size: 30px;
}

.mdi-size-35::before {
    font-size: 35px;
}

.mdi-size-40::before {
    font-size: 40px;
}

.mdi-size-45::before {
    font-size: 45px;
}

.mdi-size-50::before {
    font-size: 50px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
}

.nav .mdi::before {
    position: relative;
    top: 2px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.navbar #avatar.mdi::before {
    position: relative;
    top: 3px;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.pode-tile-header .mdi::before {
    position: relative;
    top: 3px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

/*
* Themed Styles
*/
html {
    color-scheme: var(--podeweb-color-scheme);
}

nav#sidebarMenu {
    background-color: var(--podeweb-secondary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    border-right-style: solid;
    border-right-width: 1px
}

.sidebar .nav-link {
    color: var(--podeweb-secondary-text-color) !important;
}

nav.navbar {
    background-color: var(--podeweb-nav-background-color) !important;
    border-bottom: var(--podeweb-primary-border-color) 1px solid;
    color: var(--podeweb-nav-text-color) !important;
}

a.navbar-brand {
    color: var(--podeweb-nav-text-color) !important;
    background-color: var(--podeweb-nav-background-color);
    border-color: var(--podeweb-secondary-background-color);
    box-shadow: none !important;
}

a.navbar-brand:hover {
    color: var(--podeweb-nav-hover-text-color) !important;
}

.navbar-text {
    color: var(--podeweb-nav-text-color) !important;
}

div#pode-nav-social a,
div#pode-nav-items a.nav-link:not(.disabled) {
    color: var(--podeweb-nav-text-color) !important;
}

div#pode-nav-social a:hover,
div#pode-nav-items a.nav-link:hover {
    color: var(--podeweb-nav-hover-text-color) !important;
    text-decoration: none;
}

.navbar .btn-icon-only {
    color: var(--podeweb-nav-text-color) !important;
}

.navbar .btn-icon-only:hover {
    color: var(--podeweb-nav-hover-text-color) !important;
}

.welcome-msg img {
    border-color: var(--podeweb-nav-border-color);
}

.media {
    border-color: var(--podeweb-primary-border-color);
    background-color: var(--podeweb-secondary-background-color);
}

.media img {
    border-color: var(--podeweb-primary-border-color);
}

.media .media-head {
    border-bottom-color: var(--podeweb-primary-border-color);
}

body,
main[role="main"],
body#login-page,
body#normal-page {
    background-color: var(--podeweb-page-background-color);
    color: var(--podeweb-primary-text-color);
    font-family: var(--podeweb-font-family) !important;
}

.modal-content {
    border-color: var(--podeweb-primary-border-color) !important;
}

.modal-header {
    background-color: var(--podeweb-secondary-background-color) !important;
    border-bottom-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-primary-text-color) !important;
}

.modal-header button.btn-close {
    color: var(--podeweb-secondary-text-color) !important;
}

.modal-body {
    background-color: var(--podeweb-primary-background-color) !important;
    color: var(--podeweb-primary-text-color) !important;
}

.modal-footer {
    background-color: var(--podeweb-secondary-background-color) !important;
    border-top-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-primary-text-color) !important;
}

:not(.navbar)>.btn-icon-only {
    color: var(--podeweb-secondary-text-color) !important;
}

:not(.navbar)>.btn-icon-only:hover {
    color: var(--podeweb-hover-primary-text-color) !important;
}

.toast {
    background-color: var(--podeweb-toast-primary-background-color);
    border-color: var(--podeweb-toast-border-color);
    border-style: solid;
}

.toast-header {
    background-color: var(--podeweb-toast-secondary-background-color);
    border-bottom: var(--podeweb-toast-border-color) 1px;
    color: var(--podeweb-toast-secondary-text-color);
}

.toast-header .btn-close,
.modal-header .btn-close {
    background: none;
    color: var(--podeweb-toast-secondary-text-color);
    text-shadow: none;
    box-shadow: none !important;
}

.toast-body {
    color: var(--podeweb-toast-primary-text-color) !important;
}

.card,
.accordion .accordion-item {
    background-color: var(--podeweb-primary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-secondary-text-color) !important;
}

.card .card-header {
    background-color: var(--podeweb-secondary-background-color) !important;
    border-bottom-color: var(--podeweb-primary-border-color) !important;
    border-top-right-radius: var(--bs-card-inner-border-radius) !important;
    border-top-left-radius: var(--bs-card-inner-border-radius) !important;
    box-shadow: none;
}

.accordion .accordion-header,
.accordion .accordion-header .accordion-button {
    background-color: var(--podeweb-secondary-background-color) !important;
    border-bottom-color: var(--podeweb-primary-border-color) !important;
    border-top-right-radius: var(--bs-accordion-inner-border-radius) !important;
    border-top-left-radius: var(--bs-accordion-inner-border-radius) !important;
    box-shadow: none;
}

.accordion .accordion-header {
    border-bottom: var(--bs-accordion-border-width) solid var(--podeweb-primary-border-color) !important;
}

.card .card-body,
.accordion .accordion-body {
    background-color: var(--podeweb-primary-background-color) !important;
}

.accordion .accordion-header .accordion-button {
    color: var(--podeweb-secondary-text-color);
}

.accordion .accordion-header .accordion-button.collapsed {
    color: var(--podeweb-primary-border-color);
}

.accordion .accordion-header:hover,
.accordion .accordion-header:hover>h2 .accordion-button {
    background-color: var(--podeweb-primary-background-color) !important;
    color: var(--podeweb-hover-primary-text-color) !important;
    border-top-right-radius: var(--bs-accordion-inner-border-radius) !important;
    border-top-left-radius: var(--bs-accordion-inner-border-radius) !important;
    cursor: pointer;
}

.accordion .accordion-header button:hover {
    color: var(--podeweb-hover-primary-text-color) !important;
}

cite {
    color: var(--podeweb-disabled-text-color) !important;
}

a {
    color: var(--podeweb-link-text-color);
}

a:hover {
    color: var(--podeweb-hover-primary-text-color);
}

a.disabled,
.nav-link.disabled {
    color: var(--podeweb-disabled-text-color);
}

.pode-action-btn {
    border-color: var(--podeweb-primary-border-color);
    background-color: var(--podeweb-tertiary-background-color) !important;
    color: var(--podeweb-primary-text-color);
}

.pode-action-btn:hover,
.pode-action-btn:active {
    border-color: var(--podeweb-secondary-border-color) !important;
    color: var(--podeweb-hover-primary-text-color) !important;
}

.pode-action-btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(from var(--podeweb-secondary-border-color) r g b / 0.5) !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link.active {
    background-color: var(--podeweb-primary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-hover-primary-text-color) !important
}

.nav-tabs .nav-link {
    color: var(--podeweb-secondary-text-color) !important
}

.nav-tabs .nav-link:hover {
    background-color: var(--podeweb-primary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-hover-primary-text-color) !important
}

input,
textarea,
select,
.progress {
    background-color: var(--podeweb-tertiary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-primary-text-color) !important;
}

input:not(:disabled, :read-only):hover,
.input-group:hover input:not(:disabled, :read-only),
.input-group:hover textarea:not(:disabled, :read-only),
.input-group:hover select:not(:disabled),
textarea:not(:disabled, :read-only):hover,
select:not(:disabled):hover {
    border-color: var(--podeweb-secondary-border-color) !important;
}

input:not(:disabled, :read-only):hover,
.input-group:hover input:not(:disabled, :read-only),
textarea:not(:disabled, :read-only):hover {
    color: var(--podeweb-hover-primary-text-color) !important;
}

input:not(:disabled, :read-only):focus,
textarea:not(:disabled, :read-only):focus,
select:not(:disabled, :read-only):focus {
    border-color: var(--podeweb-secondary-border-color) !important;
}

input:not(:disabled, :read-only):focus,
textarea:not(:disabled, :read-only):focus {
    color: var(--podeweb-hover-primary-text-color) !important;
}

.input-group .input-group-text,
.input-group .input-group-text {
    background-color: var(--podeweb-secondary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-primary-text-color) !important
}

.input-group:not(:has(input:disabled), :has(textarea:disabled), :has(input:read-only), :has(textarea:read-only)):hover>.input-group-text,
.col-form-label:hover+div:not(:has(input:disabled), :has(textarea:disabled), :has(input:read-only), :has(textarea:read-only)) input,
.col-form-label:hover+div:not(:has(input:disabled), :has(textarea:disabled), :has(input:read-only), :has(textarea:read-only)) .input-group,
.col-form-label:hover+div:not(:has(input:disabled), :has(textarea:disabled), :has(input:read-only), :has(textarea:read-only)) .input-group .input-group-text,
.col-form-label:hover+div:not(:has(select:disabled)) select {
    border-color: var(--podeweb-secondary-border-color) !important;
    color: var(--podeweb-hover-primary-text-color) !important;
}

div:not(.form-floating)>.form-control::placeholder {
    color: var(--podeweb-disabled-text-color) !important;
}

div.form-floating>.form-control::placeholder {
    color: none !important;
}

.form-floating>.form-control:focus~label,
.form-floating .form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control:not(:placeholder-shown)~label::after {
    color: var(--podeweb-disabled-text-color) !important;
    background: none !important;
}

.form-switch .form-check-input,
.form-check-input:not(:disabled) {
    background-color: var(--podeweb-tertiary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
}

.form-switch .form-check-label:hover,
.form-check-input:not(:disabled):hover {
    border-color: var(--podeweb-secondary-border-color) !important;
}

.form-check-input:checked {
    background-color: var(--podeweb-secondary-border-color) !important;
    border-color: var(--podeweb-secondary-border-color) !important;
}

select.form-select option:hover {
    background-color: var(--podeweb-primary-border-color);
    color: var(--podeweb-tertiary-text-color);
}

ul.dropdown-menu {
    background-color: var(--podeweb-primary-background-color);
    border: 0.1rem solid var(--podeweb-primary-border-color);
}

hr.dropdown-divider {
    border-color: var(--podeweb-primary-border-color);
}

ul.dropdown-menu a.dropdown-item:not(.disabled) {
    color: var(--podeweb-secondary-text-color);
}

ul.dropdown-menu a.dropdown-item.disabled {
    color: var(--podeweb-disabled-text-color);
}

ul.dropdown-menu a.dropdown-item:hover,
ul.dropdown-menu a.dropdown-item:active,
ul.dropdown-menu a.dropdown-item:focus {
    background-color: var(--podeweb-primary-border-color);
    color: var(--podeweb-tertiary-text-color);
}

pre code {
    background-color: var(--podeweb-tertiary-background-color) !important;
    border-color: var(--podeweb-primary-border-color) !important;
    color: var(--podeweb-secondary-text-color) !important;
}

.pode-code-copy {
    color: var(--podeweb-primary-text-color) !important;
}

#pode-page-title {
    border-color: var(--podeweb-primary-border-color) !important;
}

.table {
    color: var(--podeweb-secondary-text-color) !important;
}

.table thead th {
    background-color: var(--podeweb-tertiary-background-color) !important;
    color: var(--podeweb-secondary-text-color) !important;
}

.table.table-striped tbody tr:nth-of-type(odd) td {
    background-color: var(--podeweb-primary-background-color) !important;
    color: var(--podeweb-secondary-text-color) !important;
}

.table.table-striped tbody tr:nth-of-type(even) td {
    background-color: var(--podeweb-secondary-background-color) !important;
    color: var(--podeweb-secondary-text-color) !important;
}

.table td,
.table th,
.table thead th {
    border-color: var(--podeweb-primary-border-color) !important;
}

.table.table-striped tbody tr:hover td {
    background-color: var(--podeweb-tertiary-background-color) !important;
    color: var(--podeweb-hover-primary-text-color) !important;
}

li.nav-group-title {
    border-top-color: var(--podeweb-secondary-text-color);
}

.nav-item.nav-page-item a.nav-link.active {
    color: var(--podeweb-hover-primary-text-color) !important;
}

.ui-autocomplete {
    border-color: var(--podeweb-primary-border-color) !important;
    background-color: var(--podeweb-secondary-background-color) !important;
    color: var(--podeweb-primary-text-color) !important;
}

nav .pagination .page-link {
    border-color: var(--podeweb-primary-border-color) !important;
    background-color: var(--podeweb-secondary-background-color) !important;
    color: var(--podeweb-secondary-text-color) !important;
}

nav .pagination .page-link.active,
nav .pagination .page-link:hover {
    background-color: var(--podeweb-secondary-border-color) !important;
    color: var(--podeweb-tertiary-text-color) !important;
}

.nav-item.nav-page-item a.nav-link:hover {
    background-color: rgb(from var(--podeweb-hover-primary-text-color) r g b / 0.1) !important;
}

.nav-item.nav-group-title a.nav-link:hover {
    background-color: rgb(from var(--podeweb-hover-primary-text-color) r g b / 0.1) !important;
}

hr {
    border-color: var(--podeweb-secondary-border-color);
}

.jumbotron {
    background-color: var(--podeweb-hero-background-color);
    border-color: var(--podeweb-tertiary-border-color);
    color: var(--podeweb-tertiary-text-color);
}

.jumbotron hr {
    border-color: var(--podeweb-tertiary-text-color);
}

.footer.powered-by {
    background-color: var(--podeweb-primary-background-color);
    border-color: var(--podeweb-primary-border-color);
}

.footer.powered-by .text-body-secondary {
    color: var(--podeweb-secondary-text-color) !important;
}

.pode-container:not([pode-transparent='True']) {
    background-color: var(--podeweb-primary-background-color);
    border-color: var(--podeweb-primary-border-color);
}

.pode-container {
    color: var(--podeweb-secondary-text-color);
}

.carousel {
    background-color: var(--podeweb-primary-background-color);
    border-color: var(--podeweb-primary-border-color);
    color: var(--podeweb-secondary-text-color);
}

.carousel .carousel-caption {
    color: var(--podeweb-secondary-text-color);
}

.carousel .carousel-indicators button {
    background-color: var(--podeweb-secondary-text-color);
}

.carousel .carousel-indicators button:hover,
.carousel .carousel-indicators button.active {
    background-color: var(--podeweb-hover-primary-text-color);
}

.step .bs-stepper-circle {
    background-color: var(--podeweb-primary-border-color);
    color: var(--podeweb-tertiary-text-color);
}

.step.active .bs-stepper-circle {
    background-color: var(--podeweb-secondary-border-color);
    color: var(--podeweb-hover-secondary-text-color);
}

.bs-stepper-line {
    background-color: var(--podeweb-primary-border-color);
}

.footer.powered-by a {
    color: var(--podeweb-link-text-color) !important;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
    color-scheme: none;
    filter: var(--podeweb-input-calendar-indicator-color);
}

input[type=date]::-webkit-calendar-picker-indicator:hover,
input[type=time]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover {
    color-scheme: none;
    filter: var(--podeweb-input-calendar-indicator-hover-color);
}

iframe {
    border-color: var(--podeweb-tertiary-border-color);
}

.btn.pode-inbuilt-primary-theme {
    background-color: var(--podeweb-inbuilt-primary-theme-color);
    border-color: var(--podeweb-inbuilt-primary-theme-color);
    color: var(--podeweb-inbuilt-primary-theme-text-color);
}

.btn.pode-inbuilt-primary-theme:hover {
    background-color: var(--podeweb-inbuilt-primary-theme-hover-color);
    border-color: var(--podeweb-inbuilt-primary-theme-hover-color);
}

.btn.pode-inbuilt-primary-theme:focus {
    background-color: var(--podeweb-inbuilt-primary-theme-hover-color);
    border-color: var(--podeweb-inbuilt-primary-theme-hover-color);
    box-shadow: 0 0 0 .2rem var(--podeweb-inbuilt-primary-theme-shadow-color);
}

.btn.pode-inbuilt-secondary-theme {
    background-color: var(--podeweb-inbuilt-secondary-theme-color);
    border-color: var(--podeweb-inbuilt-secondary-theme-color);
    color: var(--podeweb-inbuilt-secondary-theme-text-color);
}

.btn.pode-inbuilt-secondary-theme:hover {
    background-color: var(--podeweb-inbuilt-secondary-theme-hover-color);
    border-color: var(--podeweb-inbuilt-secondary-theme-hover-color);
}

.btn.pode-inbuilt-secondary-theme:focus {
    background-color: var(--podeweb-inbuilt-secondary-theme-hover-color);
    border-color: var(--podeweb-inbuilt-secondary-theme-hover-color);
    box-shadow: 0 0 0 .2rem var(--podeweb-inbuilt-secondary-theme-shadow-color);
}

.badge.pode-inbuilt-primary-theme {
    background-color: var(--podeweb-inbuilt-primary-theme-color);
    color: var(--podeweb-inbuilt-primary-theme-text-color);
}

.badge.pode-inbuilt-secondary-theme {
    background-color: var(--podeweb-inbuilt-secondary-theme-color);
    color: var(--podeweb-inbuilt-secondary-theme-text-color);
}

.pode-spinner.pode-inbuilt-primary-theme {
    color: var(--podeweb-inbuilt-primary-theme-color);
}

.pode-spinner.pode-inbuilt-secondary-theme {
    color: var(--podeweb-inbuilt-secondary-theme-color);
}

span.pode-page-help:hover {
    color: var(--podeweb-hover-primary-text-color);
}

.text-body-secondary {
    color: var(--podeweb-primary-border-color) !important;
}